.quizz-form_basic-info-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-form_basic-info-screen p {
    font-size: 20px;
    font-weight: bold;
    margin: calc(var(--header-height) + 50px) 0 29px 0;
}

.quizz-form_basic-info-screen_input-area {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 0 15px 0;
    background-color: var(--logo-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.quizz-form_basic-info-screen input {
    font-size: 19px;
    width: 341px;
    padding: 17px 13px 12px 13px;
    margin-bottom: 9px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}

::placeholder {
    font-size: 19px;
    font-style: italic;
    color: var(--placeholder-color);
}

.quizz-form_basic-info-screen button {
    /*font-family is not being apllied, look for the reason later*/
    width: 324px;
    height: 54px;
    font-size: 18px;
    margin-top: 29px;
    color: var(--button-text-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 15px;
}

.quizz-form_questions-screen {
    display: flex;
    flex-direction: column;
}

.quizz-form_questions-screen p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin: calc(var(--header-height) + 50px) auto 50px auto;
}

.quizz-form_questions-screen h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin: 17px 0 12px 0;
}

.quizz-form_questions-screen ion-icon {
    font-size: 25px;
    padding-bottom: 5px;
}

.quizz-form_questions-screen_inputs-field {
    display: flex;
    flex-direction: column;
}

.quizz-form_questions-screen_question-num {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 13px 17px 7px 17px;
    margin-bottom: 24px;
    background-color: var(--logo-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.quizz-form_questions-screen_question-num p {
    font-size: 20px;
    font-weight: bold;
    margin: 14px 0 15px 0;
}

.quizz-form_questions-screen_question-num input {
    font-size: 19px;
    padding: 17px 13px 12px 13px;
    margin-bottom: 14px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}

.quizz-form_questions-screen_wrong-answer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.quizz-form_questions-screen button {
    /*font-family is not being apllied, look for the reason later*/
    width: 324px;
    height: 54px;
    font-size: 18px;
    margin: 22px auto 61px auto;
    color: var(--button-text-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 15px;
}

.quizz-form_levels-screen,
.quizz-form_end-screen {
    padding-top: var(--header-height);
    width: 100vw;
    background-color: #e5e5e5;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.quizz-form_levels-screen h1.title,
.quizz-form_end-screen h1.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
}

.quizz-form_levels-screen_main {
    width: 100%;
    padding-bottom: 75px;
}

.level-form {
    background-color: white;
    margin-bottom: 25px;
    padding-inline: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    height: auto;
}

.level-form h1 {
    /* padding-inline: 15px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding-block: 20px;
    height: 63px;
}

.level-form h1 ion-icon {
    font-size: 25px;
    padding-bottom: 5px;
}

.level-form .inputs-field.hidden {
    display: none;
    height: 0px;
    /* TODO: fazer a transição funcionar */
    transition: all 1s;
}

.level-form .inputs-field {
    display: flex;
    flex-direction: column;
    height: auto;

    margin-top: -5px;
    padding-bottom: 25px;
    /* TODO: fazer a transição funcionar */
    transition: all 1s ease;
}

.level-form input,
textarea {
    height: 46px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-inline: 10px;
    margin-bottom: 15px;
    outline: none;
}

.level-form textarea {
    height: 150px;
    width: 100%;
    padding-block: 5px;
    resize: none;
}

textarea::placeholder,
input,
textarea {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
}

.quizz-form_end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.quizz-form_end-screen.hidden {
    display: none;
}

.quizz-image {
    width: 90vw;
    height: calc(90vw * 0.53);
    background-color: white;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

.quizz-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.514), transparent);
    border-radius: 5px;
    z-index: 3;
}

@media (min-width: 759px) {
    body {
        overflow-x: hidden;
    }

    .quizz-form_levels-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quizz-form_levels-screen.hidden {
        display: none;
    }

    .quizz-form_levels-screen_main {
        width: 759px;
    }

    .level-form {
        width: 100%;
    }

    .level-form h1 {
        font-size: 20px;
    }

    .quizz-form_levels-screen .title {
        font-size: 23px;
    }

    button.restart {
        width: 324px;
        height: 54px;
    }
}
